<div class= "indexcomments" data-id="<%=@post.id%>">
  <div class = "commentscontainer">
    <h5>
      <div id="comments">
        <% @comments.each do |comment| %>
          <%= render partial: "comment", locals: { comment: comment, post: comment.post, current_user: comment.user } %>
        <% end %>
      </div>
    </h5>

    <div id="comments-form-container">
      <%= render partial: "comment_form", locals: { comment: @comment, post: @post } %>
    </div>
  </div>
</div>
