<div class= "comments">
  <h5>
    <div id="comments">
      <% @comments.each do |comment| %>
        <%= render partial: "comment", locals: { comment: comment, post: @post } %>
      <% end %>
    </div>
  </h5>

  <div id="comments-form-container">
    <%= render partial: "comment_form", locals: { comment: @comment, post: @post } %>
  </div>
</div>
