<div class="topic">
  <div class="titleedit text-center">
    Topics
  </div>

  <div id="topics">
    <% @topics.each do |topic| %>
    <%= render partial: "topic", locals: { topic: topic } %>
    <% end %>
  </div>
  <%= paginate @topics %>
  <div id="topic-form-container">
    <%= render partial: "topic_form", locals: { topic: @topic } %>
  </div>
</div>
